body {
    margin: 0;
    padding: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #1bd4a4, #159d82);
    color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.upload-container,
.image-container {
    /* Remove 'aspect-ratio' property to allow the image to fill the container */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

#fileInput {
    display: none;
}

.drag-drop-area {
    aspect-ratio: 1 / 1;
    border: 2px dashed #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    letter-spacing: 2px;
    /* Adjust padding to create space within the box */
    padding: 15%;
}

.drag-drop-area:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#imageDisplay {
    max-width: 100%;
    max-height: 100%;
    /* Adjust margin to control spacing between image and container */
    margin: 10px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background: #ffffff;
    color: #333333;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
