body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1bd4a4, #159d82);
    color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#imageDisplay {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background: #ffffff;
    color: #333333;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}